################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarketingCenter_dev5/MarketingCenter_dev5/bin/Debug/net6.0
/MarketingCenter_dev5/MarketingCenter_dev5/obj/Debug/net6.0
/MarketingCenter_dev5/MarketingCenterData/bin/Debug/net6.0
/MarketingCenter_dev5/.vs/MarketingCenter_dev5/FileContentIndex
/MarketingCenter_dev5/MarketingCenterData/bin/Release/net6.0
/MarketingCenter_dev5/MarketingCenterData/Migrations/20230929172829_CreateContentPublish.cs
/MarketingCenter_dev5/MarketingCenterData/Migrations/McdbContextModelSnapshot.cs
/MarketingCenter_dev5/.vs/MarketingCenter_dev5
/MarketingCenter_dev5/MarketingCenter_dev5/.config
/MarketingCenter_dev5/MarketingCenter_dev5/bin/Release/net6.0
